.App {
  font-family: Arial, sans-serif;
  text-align: center;
  position: relative;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.score {
  font-size: 30px;
  margin-bottom: 20px;
  color: antiquewhite;
}

.questionContainer {
  margin-bottom: 40px;
}

.questionForm {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #f9f9f9;
}

.questionForm p {
  font-size: 18px;
  margin-bottom: 20px;
}

.answers {
  padding-left: 196px;
}

label {
  display: block;
  margin-bottom: 15px;
  text-align: left;
}

input[type="radio"] {
  margin-right: 10px;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.meme {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: auto;
}

.hidden {
  display: none;
}

/* For mobile phones: */
@media only screen and (max-width: 600px) {
  .questionForm {
    max-width: 300px;
    margin: 0 auto;
  }

  .questionForm p {
    font-size: 16px;
  }

  label {
    font-size: 14px;
  }

  button[type="submit"] {
    font-size: 14px;
  }

  .answers {
    padding-left: 114px;
  }

  .meme {
    max-width: 80%;
    top: 250%;
    left: 50%;
  }
}
